<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/style.css">
   <script src="https://kit.fontawesome.com/c25d42293f.js" crossorigin="anonymous"></script>
   <title>Уроки игры на гитаре</title>
   <meta name="description" content="Лучший специалист игры на гитаре">
   <link rel="apple-touch-icon" sizes="57x57" href="icons/Fav_Icon/apple-icon-57x57.png">
   <link rel="apple-touch-icon" sizes="60x60" href="icons/Fav_Icon/apple-icon-60x60.png">
   <link rel="apple-touch-icon" sizes="72x72" href="icons/Fav_Icon/apple-icon-72x72.png">
   <link rel="apple-touch-icon" sizes="76x76" href="icons/Fav_Icon/apple-icon-76x76.png">
   <link rel="apple-touch-icon" sizes="114x114" href="icons/Fav_Icon/apple-icon-114x114.png">
   <link rel="apple-touch-icon" sizes="120x120" href="icons/Fav_Icon/apple-icon-120x120.png">
   <link rel="apple-touch-icon" sizes="144x144" href="icons/Fav_Icon/apple-icon-144x144.png">
   <link rel="apple-touch-icon" sizes="152x152" href="icons/Fav_Icon/apple-icon-152x152.png">
   <link rel="apple-touch-icon" sizes="180x180" href="icons/Fav_Icon/apple-icon-180x180.png">
   <link rel="icon" type="image/png" sizes="192x192"  href="icons/Fav_Icon/android-icon-192x192.png">
   <link rel="icon" type="image/png" sizes="32x32" href="icons/Fav_Icon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="96x96" href="icons/Fav_Icon/favicon-96x96.png">
   <link rel="icon" type="image/png" sizes="16x16" href="icons/Fav_Icon/favicon-16x16.png">
   <link rel="manifest" href="icons/Fav_Icon/manifest.json">
   <meta name="msapplication-TileColor" content="#ffffff">
   <meta name="msapplication-TileImage" content="icons/Fav_Icon/ms-icon-144x144.png">
   <meta name="theme-color" content="#ffffff">
</head>
<body>
   <!-- Первая секция -->
   <section class="main-section">
      <div class="container main-section__nav-container">
         <!-- Навигационное меню -->
         <header class="main-section_header">
            <a href="#"><img class="main-section__logo" src="icons/logo.svg" alt=""></a>
         </header>
         <nav class="main-section__nav nav-menu">
            <ul class="nav-menu__list">
               <li class="nav-menu__list-item"> <a href="#about-me">Обо мне</a></li>
               <li class="nav-menu__list-item"> <a href="#lesons">Занятия</a></li>
               <li class="nav-menu__list-item"> <a href="#">Запись</a></li>
            </ul>
         </nav>
      </div>
      <div class="container main-section__content-container">
         <!-- Левая часть первой секции -->
         <div class="left-wrapper">
            <img src="img/Фото гитариста.png" alt="Фото гитариста" class="left-wrapper__img">
            <div class="left-wrapper__rectangle-blue"></div>
            <div class="left-wrapper__rectangle-orange"></div>
            <div class="left-wrapper__rectangle-gray"></div>
         </div>
         <!-- Правая часть первой секции -->
         <div class="right-wrapper">
            <!-- иконки -->
            <div class="right-wrapper__icons-boxs icons">
               <div class="icons__items"><i class="fa-brands fa-skype"></i></div>
               <div class="icons__items"><i class="fa-brands fa-vk"></i></div>
               <div class="icons__items"><i class="fa-brands fa-telegram"></i></div>
               <div class="icons__items"><i class="fa-brands fa-instagram"></i></div>
            </div>
             <!-- заголовок -->
            <h1 class="right-wrapper__title title">Я Виктор
               <hr class="title__hr">
            </h1>
             <!-- текст -->
            <p class="right-wrapper__text">Репетитор игры на гитаре с семилетним опытом преподавания</p>
             <!-- кнопки -->
            <div class="right-wrapper__buttom buttons">
               <button class="buttons__main-btn">Забранировать <br> урок</button>
               <div class="right-wrapper__icon-btn buttons__icon-btn">
                  <img src="icons/Иконка чата 1.svg" alt="chat">
                  <p class="buttons__text">Есть <br> вопросы?</p>
               </div>
            </div>
         </div>
         <!-- маленький круг -->
         <div class="main-section__first-elipse elipse">
            <div class="elipse__subtract"></div>
         </div>
      </div>
      <!-- большой круг -->
      <div class="main-section__second-elipse elipse elipse_big">
         <div class="elipse__subtract elipse__subtract_big "></div>
      </div>
   </section>
   <!-- Вторая секция -->
   <section id="about-me" class="second-section">
      <div class="container second-section__container">
         <!-- Заголовок -->
         <h2 class="second-section__title title">
            Преподаю
            <hr class="title__hr"> 
         </h2>
         <!-- Карточки -->
         <div class="second-section__cards-box">
            <div class="second-section__cards-item cards-item">
               <img class="cards-item__img" src="img/Электро-гитара 1.png" alt="Электро гитара">
               <p class="cards-item__text">Электро <br> гитара</p>
            </div>

            <div class="second-section__cards-item cards-item cards-item_orange">
               <img class="cards-item__img" src="img/Акустика-гитара 1.png" alt="Электро гитара">
               <p class="cards-item__text">Акустическая <br> гитара</p>
            </div>

            <div class="second-section__cards-item cards-item cards-item_blue">
               <img class="cards-item__img" src="img/Укулелли-гитара 1.png" alt="Электро гитара">
               <p class="cards-item__text">Укулеле <br> гитара</p>
            </div>
         </div>
         <!-- Иконки -->
         <div class="second-section__icons-box icons-box">
               <div class="second-section__icons-items icons-items">
                  <img class="icons-items__img" src="icons/01-Иконка.svg" alt="Кубок">
                  <p class="icons-items__text"><span>7</span> <br> лет <br> преподования</p>
               </div>

               <div class="second-section__icons-items icons-items">
                  <img class="icons-items__img" src="icons/02-Иконка_вторая секкция 1.svg" alt="Нота">
                  <p class="icons-items__text"><span>20000</span> <br> часов <br> преподования</p>
               </div>

               <div class="second-section__icons-items icons-items">
                  <img class="icons-items__img" src="icons/03-Иконка_вторая секкция 1.svg" alt="Перо">
                  <p class="icons-items__text"><span>314</span> <br> студентов <br> обучено</p>
               </div>

               <div class="second-section__icons-items icons-items">
                  <img class="icons-items__img" src="icons/04-Иконка_вторая секкция 1.svg" alt="А+">
                  <p class="icons-items__text"><span>276</span> <br> отзывов <br> на 5 звёзд</p>
               </div>
         </div>
         <!-- Круги второй секции -->
         <div class="second-section__first-elipse elipse">
            <div class="elipse__subtract"></div>
         </div>

         <div class="second-section__second-elipse elipse">
            <div class="elipse__subtract"></div>
         </div>
      </div>
   </section>
   <!-- 3-я секция -->
   <section id="lesons" class="thirt-section">
      <div class="container thirt-section__container">
         <!-- левая обёртка -->
         <div class="thirt-section__left-wrapper"> 
            <!-- заголовок -->
            <h3 class="thirt-section__title title">
               Обучение
            <hr class="title__hr"> 
         </div>
         <!-- правая обёртка -->
         <div class="thirt-section__right-wrapper">
            <!-- заголовок -->
            <h4 class="thirt-section__right-title title">
               Готовлю <hr class="title__hr"> <br> виртуозов</h4>
            <p class="thirt-section__text">
                  Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Товарищи! реализация намеченных плановых заданий позволяет выполнять важные задания по разработке систем массового участия. 
                  <br><br>
                  Повседневная практика показывает, что рамки и место обучения кадров позволяет оценить значение новых предложений. Не следует, однако забывать, что рамки и место обучения кадров влечет за собой процесс внедрения и модернизации систем массового участия.
            </p>
            <div class="right-wrapper__buttom buttons">
               <!-- обычная кнопка -->
               <button class="buttons__main-btn">Забранировать <br> урок</button>
               <!-- иконка с текстом -->
               <div class="right-wrapper__icon-btn buttons__icon-btn">
                  <img src="icons/Иконка чата 1.svg" alt="chat">
                  <p class="buttons__text">Есть <br> вопросы?</p>
               </div>
            </div>
         </div>
           <!-- большой круг -->
         <div class="thirt-section__first-elipse elipse elipse_big">
            <div class="elipse__subtract elipse__subtract_big "></div>
         </div>
         <img class="thirt-section__figure" src="icons/Subtract.svg" alt="элипс">
      </div>
      <div class="thirt-section__second-elipse elipse elipse_big">
         <div class="elipse__subtract elipse__subtract_big "></div>
      </div>
   </section>

   <footer class="footer">
      <div class="container footer__container">
         <img src="img/Гриф 1.png" alt="Гриф" class="footer__img">
         <div class="footer__wrapper">
            <h5 class="footer__title title">
               Запишись на <hr class="title__hr"> <br> пробный урок
            </h5>
            <div class="footer__icons-boxs icons">
               <div class="icons__items"><i class="fa-brands fa-skype"></i></div>
               <div class="icons__items"><i class="fa-brands fa-vk"></i></div>
               <div class="icons__items"><i class="fa-brands fa-telegram"></i></div>
               <div class="icons__items"><i class="fa-brands fa-instagram"></i></div>
            </div>
         </div>
      </div>
   </footer>
</body>
</html> 